@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");

html,
body {
	margin: 0;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	min-width:350px;
	max-width:100%;
    overflow-x: hidden;
}